//自己的css样式
.app-main{
  //padding: 0 10px;
  background-color: #f1f1f1;
  margin:0 10px;
  border:1px solid #dfe6ec;
  .app-container{
    //padding: 0 20px;
    background-color: #f1f1f1;  // #ffffff 2018-11-27改背景颜色
    //border:1px solid #dfe6ec;
    box-sizing: border-box;
    //min-height:100%;
    //input 高
    .el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-textarea__inner {
      border:1px solid #ff4949!important;
    }
    .el-input__icon + .el-input__inner{
      height: 28px ;
      box-sizing: border-box;
      box-shadow:1px 2px 0 #dddddd;
      //border:1px solid #f1f1f1;
      border:none;
      &:hover{
        box-shadow:3px 4px 6px rgba(221, 221, 221, 0.71);
      }
      &:focus{
        box-shadow:1px 2px 0 #dddddd;
        border:1px solid #20a0ff;
      }
    }
    .el-input{
      font-size:14px;
      height: 28px;
      &.el-input--small .el-input__inner {
        height: 28px;
        box-sizing: border-box;
        box-shadow:1px 2px 0 #dddddd;
        //border:1px solid #f1f1f1;
        border:none;
        &:hover{
          box-shadow:3px 4px 6px rgba(221, 221, 221, 0.76);
        }
        &:focus{
          box-shadow:1px 2px 0 #dddddd;
          border:1px solid #20a0ff;
        }
      }
      input{
        height: 28px;
      }
    }
    .el-textarea__inner{
      box-shadow:1px 2px 0 #dddddd;
      //border:1px solid #f1f1f1;
      border:none;
      &:hover{
        box-shadow:3px 4px 6px rgba(221, 221, 221, 0.76);
      }
      &:focus{
        //box-shadow:1px 2px 0 #dddddd;
        //border:none;
        box-shadow:1px 2px 0 #dddddd;
        border:1px solid #20a0ff;
      }
    }
    //表单
    /deep/.el-form{
      background-color: #f1f1f1;
      .el-form-item{
        margin-bottom: 10px;
        margin-right:0;
        .el-form-item__label{
          width:120px;
          color: #48576a;
          font-size:14px;
          font-weight: normal;
          padding-top:7px;
          padding-bottom: 7px;
          padding-right:5px;
        }
        .el-form-item__content{
          line-height:26px;
          .el-select{
            width:187px;
          }
          .el-input__icon + .el-input__inner{
            height: 28px !important;
            box-sizing: border-box;
          }
          .el-input{
            width:187px;
            font-size:14px;
            height: 28px;
            &.el-input--small .el-input__inner {
              height: 28px;
              box-sizing: border-box;
            }
          }
          .moneyInput{
            text-align: right;
            height: 26px;
            width:187px;
            background-color: #fff;
            background-image: none;
            border-radius: 4px;
            //border: 1px solid #bfcbd9;
            box-sizing: border-box;
            color: #1f2d3d;
            font-size: inherit;
            line-height: 1;
            outline: 0;
            padding: 3px 10px;
            transition: border-color .2s cubic-bezier(.645,.045,.355,1);
            border: none!important;
            box-shadow:1px 2px 0 #dddddd;
          }
        }
      }
    }
    //多选框label颜色
    /deep/.el-checkbox{
      color: #48576a;
      font-weight: normal;
      .el-checkbox__label{
        padding-left:8px;
      }
    }
    //单选框label颜色{
    /deep/.el-radio{
      color: #48576a;
      font-weight: normal;
      .el-radio__label{
        padding-left:8px;
      }
    }
    //表格
    /deep/.el-table{
      //margin-left: 20px;
      .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div{
        //background-color:#f3f6fb;
      }

      /deep/.el-table__body tr.el-table__row--striped td {
        background: #f5f5f5;
      }
      .el-table__body tr.current-row>td {
        background: #cee8ff;  //选中行颜色
      }
      tr{
        //background-color:#f3f6fb;
      }
      th{
        height:21px; //36---> 21  5.27
        //background-color:#f3f6fb;
        &>.cell{
          font-size:13px;
          font-weight:bold;
          color: #48576a;
          //color: red;
          text-align: center;
          padding:0 5px;
          line-height: 21px;
          //更改表格多选框的宽高 5.27
          &>.el-checkbox{
            &>.el-checkbox__input{
              &>.el-checkbox__inner{
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
      td{
        height:21px;  //36---> 21  5.27
        border-bottom: none;
        &>.cell{
          font-size:14px;
          color: #1f2d3d;
          //color: blue;
          text-align: center;
          line-height: 21px;
          padding:0 5px;
          //text-overflow :ellipsis; //文字溢出省略...
          //white-space : nowrap; //文本不换行
          //overflow: hidden; /*自动隐藏文字*/
          //&:hover{
          //  overflow: visible;
          //  width:auto;
          //}
          //更改表格多选框的宽高 5.27
          &>.el-checkbox{
            &>.el-checkbox__input{
              &>.el-checkbox__inner{
                width: 15px;
                height: 15px;
              }
            }
          }
          //更改表格编辑输入框的高 5.27
          .el-input{
            height: 21px!important;
            &>.el-input__inner{
              height: 19px!important;
            }
          }
          &>.showEdit {
            //更改表格编辑下拉框的高 5.27
            &>.el-input{
              height: 21px!important;
              &>.el-input__inner{
                height: 19px!important;
              }
            }
          }
        }
      }
      .el-table__body-wrapper .showEdit {
        display: none;
      }
      /deep/.el-table__body-wrapper .current-row .showEdit {
        display: block;
      }
      .el-table__body-wrapper .current-row .showEdit+.showDisp {
        display: none;
      }
    }
    //三级tab样式
    /deep/.thirdTabWrapper{
      /deep/.el-tabs .el-tabs__item {
        color: #48576a!important; ;
      }
      /deep/.el-tabs .is-active {
        color: #177dff !important;
      }
      /deep/.el-tabs__header{
        border-bottom: none;
        margin-bottom:0;
      }
    }
    //二级tab切换标题
    /deep/.el-tabs{
      background-color: #f1f1f1;
      .el-tabs__header{
        margin-bottom:10px;
      }
      .el-tabs__active-bar{
        display: none;
      }
      .el-tabs__item{
        color: #48576a!important;
        padding:0;
        margin-right:50px;
      }
      .is-active {
        color: #177dff!important;
        border-bottom:4px solid #177dff;
      }
    }
    //一级tab样式
    /deep/.firstTabWrapper{
      &>.el-tabs__header{
        border-bottom:none;
        //margin-top:20px;
        .el-tabs__nav{
          border:1px solid #2a9ef6;
          border-radius: 4px;
          .el-tabs__active-bar{
            display: none;
          }
          .el-tabs__item{
            color: #2a9ef6!important;
            border-right:1px solid #2a9ef6;
            border-radius: 0;
            height:34px;
            line-height:34px;
            margin-right:0;
            padding:0 15px;
            &:last-of-type{
              border-right:none;
            }
            &.is-active{
              color: #ffffff!important;
              background-color:#2a9ef6 ;
              border:none;
              border-radius: 0;
            }
          }
        }
      }
    }
    //按钮
    /deep/.el-button{
      min-width: 60px;
      height: 28px;
      border: none;
      background-color: #2a9ef6;
      margin-top: 0;
      margin-left: 3px;
      left: 20px;
      margin-bottom: 10px;
      line-height:11px;
      color: #fff;
      box-shadow:1px 2px 0 rgba(0, 0, 0, 0.08);
      &:hover{
        background-color: #177dff;
      }
      &.closeBtn{
        border:1px solid #2a9ef6;
        height:28px;
        width:90px;
        background-color: #ffffff;
        color: #000;
        line-height:11px;
      }
      &.formBtn{
        background-color: #2a9ef6;
        &:hover{
          background-color: #177dff;
        }
      }
      &.tableBtn{
        background-color: #1fb29d;
        &:hover{
          background-color: #079e8a;
        }
      }
      &.deleteBtn{
        background-color: #f94141;
        &:hover{
          background-color: #e72222;
        }
      }
    }

    //弹框
    /deep/.el-dialog__wrapper{
      .el-dialog{
        width:1300px;
        margin:auto;
        top:8%!important;
      }
      .el-dialog__header{
        background-color: #177dff!important;
        padding:12px 20px;
        height: 40px;
        .el-dialog__title{
          color: #ffffff;
          font-size:16px;
        }
        .el-dialog__headerbtn .el-dialog__close{
          color: #ffffff;
          font-size: 14px;
        }
      }
      .el-dialog__body{
        background-color: #f1f1f1;
        max-height:800px;
        padding: 0 28px 30px !important;
        overflow-y: auto;
        .app-container{
          .el-dialog__wrapper{
            .el-dialog{
              width:1300px;
              max-height:800px;
              margin:auto;
              top:8%!important;
            }
            .el-dialog__header{
              background-color: #177dff!important;
              padding:12px 20px;
              height: 40px;
              .el-dialog__title{
                color: #ffffff;
                font-size:16px;
              }
              .el-dialog__headerbtn .el-dialog__close{
                color: #ffffff;
                font-size: 14px;
              }
            }
            .el-dialog__body {
              background-color: #f1f1f1;
              //height: 550px;
              padding: 0 28px 30px !important;

            }
          }
        }
      }
      .app-container{
        background-color: #f1f1f1;
        border:none;
        /*max-height:422px;*/
        overflow-y: auto;
        margin-top: 0!important;
      }
    }
    //card
    /deep/.el-card{
      background-color: #f1f1f1;
      border:none;
      box-shadow:none;
      .el-card__body {
        background-color: #f1f1f1;
        padding: 0;
      }
    }
    //按钮
    .foot{
      text-align: center;
      margin-top: 20px;
      .confirm{
        background-color: #2a9ef6;
        color: #ffffff;
        border:none;
        height:32px;
        width:90px;
        padding-top:9px
      }
      .cancleBtn{
        border:1px solid #2a9ef6;
        height:32px;
        width:90px;
        padding-top:9px;
        color: #1f2d3d;
        background-color: #ffffff;
        margin-left: 20px;

      }
    }
    //小标题
    .title-wrapper{
      background-color: #f1f1f1;
      padding:20px 0 10px;
      color: #2a9ef6;
      font-size:14px;
      //border-bottom: 1px solid #e3e9ef;
      box-sizing: border-box;
      //margin-bottom:10px;
    }
    //黑色小标题
    .blackTitle{
      font-size:14px;
      color: #48576a;
      margin-bottom: 10px;
    }
    //白色标题
    .whiteBtn{
      background-color: #fafbfc;
      color: #1f2d3d;
      font-size:14px;
      box-shadow:none;
      margin-left:0;
      margin-right: 10px;
      &:first-child{
        padding-left:0;
      }
      &:hover{
        background-color: #fafbfc;
        color: #177dff;
      }
    }
    //红色字体
    .redFont{
      color: #ff5858!important;
      font-size:12px;
    }

    //表格中的moneyInput样式
    .moneyInput{
      text-align: right;
      height: 26px;
      width:187px;
      background-color: #fff;
      background-image: none;
      border-radius: 4px;
      //border: 1px solid #bfcbd9;
      box-sizing: border-box;
      color: #1f2d3d;
      font-size: inherit;
      line-height: 1;
      outline: 0;
      padding: 3px 10px;
      transition: border-color .2s cubic-bezier(.645,.045,.355,1);
      border: none!important;
      box-shadow:1px 2px 0 #dddddd;
    }
    //el-tree选中行的颜色
    /deep/.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
      background-color: #cee8ff;
    }
    /deep/.el-form-item__error {
      padding-top: 2px;
      position: relative;
      top: 100%;

    }
  }

  //媒体查询自动控制弹框高度
  @media (min-height: 1000px) and (max-height: 1024px) {
    .app-container{
      /deep/.dialog{
        .el-dialog__body{
          max-height: 800px!important;
        }
      }
    }
  }
  @media (min-height: 320px)and (max-height: 950px){
    .app-container{
      /deep/.dialog{
        .el-dialog__body{
          max-height: 550px!important;
        }
      }
    }
  }
}
//loding
.el-loading-mask{
  background-color: rgba(255,255,255,0)!important;
}
